:root {
  --bg-color: #ffffff;
  --font-color: #000000;
  --gradient-color: #b4ad95;
  --pop-window: #dbd7cb;
  --btn-green: #b1ff97;
  --btn-orange: #d34323;
  --emerald: #074d53;
}

.side-margin {
  margin-left: 24px;
  margin-right: 24px;
}

.headline {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
}

.subheader {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.heading {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: normal;
}

.brand {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.mycelium {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;

  &:hover {
    color: var(--emerald);
    cursor: pointer;
  }
}

.call-to-action {
  position: relative;
  margin-top: 275px;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  transition: all 400ms;
  transition-delay: 100ms;
}

button {
  padding-left: 26px;
  padding-right: 26px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  border: none;
}
.btn-green {
  background-color: var(--btn-green);
  color: var(--font-color);
  transition: all 400ms;
  transition-delay: 100ms;
}
.btn-green:hover {
  background-color: var(--btn-orange);
  color: var(--bg-color);
  transition: all 400ms;
  cursor: pointer;
}
.btn-orange {
  background-color: var(--btn-orange);
  color: var(--bg-color);
  transition: all 400ms;
  transition-delay: 100ms;
}
.btn-orange:hover {
  background-color: var(--btn-green);
  color: var(--font-color);
  transition: all 400ms;
  cursor: pointer;
}

.bike-btn {
  position: absolute;
  bottom: 49px;
  right: 24px;
  z-index: 2;
}

.acc-btn {
  margin-top: 24px;
}

.slide-arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.slide-arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 24px;
  background: url("./assets/slide arrows/arrow left.svg") no-repeat;
  background-size: 100%;
  &:hover {
    background: url("./assets/slide arrows/arrow left hover.svg") no-repeat;
    background-size: 100%;
  }
}
.arrow-right {
  right: 24px;
  background: url("./assets/slide arrows/arrow right.svg") no-repeat;
  background-size: 100%;
  &:hover {
    background: url("./assets/slide arrows/arrow right hover.svg") no-repeat;
    background-size: 100%;
  }
}

.bike-in-environ {
  position: absolute;
  z-index: 1;
}

footer > p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.footer-gradient {
  height: 500px;
  width: 100%;
  background: linear-gradient(180deg, #fff 2.55%, #b4ad95 99.9%);
}

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  overscroll-behavior: none;
}

main {
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.header-gradient {
  height: 1000px;
  width: 100%;
  background: linear-gradient(180deg, #b4ad95 0%, #fff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  gap: 513px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding-left: 24px;
  padding-right: 24px;
}
.lang-en:hover,
.lang-sv:hover {
  cursor: pointer;
}
.nav-menu-wrapper {
  position: relative;
}
.exit-popout-wrapper {
  position: relative;
}
.exit-popout {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 9px;
  right: -20px;
}
.menu-popout-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  padding-top: 40px;
}
.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.menu-popout {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--btn-orange);
  color: var(--bg-color);
  border-radius: 16px;
  width: 160px;
  height: 344px;
  text-align: right;
  padding-left: 32px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  gap: 8px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.exit {
  position: absolute;
  top: 25px;
  right: 24px;
  height: 24px;
  width: 24px;
}

.signup {
  position: absolute;
  z-index: 5;
  bottom: -75px;
  left: -24px;
  background-color: var(--gradient-color);
  color: var(--font-color);
  margin-left: 24px;
  margin-right: 24px;
  height: 342px;
  width: 100%;
}

.signup-content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 65px;
  padding-right: 24px;
  padding-left: 24px;
}

.email {
  background-color: var(--gradient-color);
  border: none;
  width: 294px;
  border-bottom: 1px solid var(--font-color);
}

.submit {
  margin-top: 27px;
}

.email:focus,
.email:active {
  border-bottom: 1px solid var(--font-color);
  outline: none;
}

.info {
  margin-top: 60px;
}

.info > p {
  max-width: 590px;
}

.info-acc-wrapper {
  display: flex;
  flex-direction: column;
}

.engine {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 90px;
}

.engine-info {
  max-width: 300px;
  margin-right: 24px;
}

.about-us {
  margin-top: 309px;
}

.about-us-description {
  max-width: 300px;
}

footer {
  margin-top: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-links > a:last-child {
  margin-top: 34px;
}
.footer-links > p {
  margin: 0px;
}
.end > .lang-selector > p {
  margin: 0;
  padding: 0;
}
.anchor {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.social-links {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 42px;
}
.newsletter {
  width: 342px;
  height: 342px;
  flex-shrink: 0;
  background: #d9d9d9;
}

.placeholder-bike {
  height: 900px;
  width: 100vw;
  background-color: #747272;
  margin-top: 216px;
  position: relative;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.bike-in-environ {
  object-fit: contain;
}

.placeholder-acc {
  height: 300px;
  width: 300px;
  background-color: #747272;
  margin-top: 227px;
  overflow: hidden;
}

.placeholder-bike-xtra {
  height: 900px;
  width: 100vw;
  background-color: #747272;
  margin-top: 395px;
  position: relative;
}
.blurb {
  position: absolute;
  bottom: 42px;
  left: 24px;
  max-width: 252px;
}
.engine-img {
  width: 300px;
  height: 300px;
  background-color: #747272;
  margin-top: 266px;
}
.to-top-wrapper {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 24px;
  margin-left: 24px;
  z-index: 25000;
}

.to-top {
}

@keyframes slideshow {
  0% {
  }
  33% {
    transform: translateX(-500px);
  }
  66% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(-1500px);
  }
}

.slideshow {
  display: flex;
  flex-direction: row;
  animation: 7s slideshow infinite ease-in-out;
  object-fit: cover;
}

.lang-selector {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.underline {
  text-decoration: underline;
}

@media screen and (min-width: 1000px) {
  .side-margin {
    margin-left: 108px;
    margin-right: 108px;
  }
  .nav {
    padding-left: 108px;
    padding-right: 108px;
    align-items: flex-start;
  }
  .nav-logo {
    position: relative;
  }
  .logo {
    position: absolute;
    left: 0;
    top: -20px;
  }
  .headline {
    font-size: 64px;
  }
  .subheader {
    font-size: 18px;
  }
  .heading {
    font-size: 64px;
  }
  .mycelium {
    font-size: 18px;
  }
  .brand {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  button {
    height: 48px;
    width: 175px;
    font-size: 24px;
    padding-left: 41px;
    padding-right: 41px;
  }
  .about-btn {
    padding: 0;
  }
  footer > p {
    font-size: 18px;
    line-height: 28px;
  }
  .end > div > .subheader {
    font-size: 18px;
  }
  .placeholder-acc {
    margin-left: 108px;
    height: 500px;
    width: 500px;
  }
  .engine {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .engine-img {
    margin-right: 108px;
    height: 500px;
    width: 500px;
    margin-top: 188px;
  }
  .engine-wrapper {
    margin-bottom: 80px;
  }
  .engine-info {
    margin-right: 108px;
    max-width: 500px;
  }
  .logo {
    width: 351px;
  }
  .exit {
    top: 48px;
    right: 48px;
  }
  .info-acc-wrapper {
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 80px;
    justify-content: space-between;
  }
  .about-us-description {
    max-width: 570px;
  }
  .signup {
    width: calc(100vw - 216px);
    height: 560px;
  }
  .placeholder-bike-xtra {
    margin-top: 290px;
  }
  .signup-content {
    padding-top: 129px;
  }
  .signup-content > p {
    max-width: 400px;
  }

  .email {
    width: 400px;
  }

  .submit {
    margin-top: 48px;
  }

  .blurb {
    max-width: 370px;
  }
  .slide-arrow {
    width: 48px;
    height: 48px;
  }

  .arrow-left {
    left: 108px;
  }
  .arrow-right {
    right: 108px;
  }
  .to-top-wrapper {
    margin-left: 108px;
  }
  .desktop-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    visibility: visible;
    gap: 18px;
  }
  .mobile-menu {
    display: none;
    visibility: hidden;
  }
  .social-links > img {
    width: 34px;
    height: 34px;
  }
  footer {
    margin-left: 92px;
    margin-right: 92px;
  }
  .footer-links {
    gap: 15px;
  }
  .end {
    flex-direction: column-reverse;
    gap: 130px;
  }
  .anchor {
    font-size: 18px;
    line-height: 25px;
  }
}
