:root {
  --bg-color: #ffffff;
  --font-color: #000000;
}
.side-margin {
  margin-left: 24px;
  margin-right: 24px;
}

.headline {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
}

.subheader {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.call-to-action {
  margin-top: 275px;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

button {
  padding-left: 26px;
  padding-right: 26px;
  height: 32px;
  border-radius: 50px;
  background: #3c3c3c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}
.bike-btn {
  position: absolute;
  bottom: 49px;
  right: 24px;
  z-index: 2;
}

.acc-btn {
  margin-top: 24px;
}

footer > p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.footer-gradient {
  height: 500px;
  width: 100%;
  background: linear-gradient(180deg, #fff 2.55%, #3c3c3c 99.9%);
}

.end > div > .subheader {
  font-weight: 300;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

main {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.header-gradient {
  height: 1000px;
  width: 100%;
  background: linear-gradient(180deg, #3c3c3c 0%, #fff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  gap: 513px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding-left: 24px;
  padding-right: 24px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  gap: 8px;
}

.info {
  margin-top: 60px;
}

.info > p {
  max-width: 560px;
}

.engine {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 90px;
}

.engine > p {
  max-width: 300px;
}

.about-us {
  margin-top: 309px;
}

footer {
  margin-top: 250px;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links > p {
  margin: 0px;
}
.social-links {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.end {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
}
.newsletter {
  width: 342px;
  height: 342px;
  flex-shrink: 0;
  background: #d9d9d9;
}

.placeholder-bike {
  height: 1000px;
  width: 100vw;
  background-color: #747272;
  margin-top: 216px;
  position: relative;
}

.placeholder-acc {
  height: 300px;
  width: 300px;
  background-color: #747272;
  margin-top: 227px;
}

.placeholder-bike-xtra {
  height: 1000px;
  width: 100vw;
  background-color: #747272;
  margin-top: 395px;
  position: relative;
}
.blurb {
  position: absolute;
  bottom: 42px;
  left: 24px;
  width: 252px;
}
.engine-img {
  width: 300px;
  height: 300px;
  background-color: #747272;
  margin-top: 249px;
}

@media screen and (min-width: 1000px) {
  .side-margin {
    margin-left: 108px;
    margin-right: 108px;
  }
  .headline {
    font-size: 64px;
  }
  .subheader {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  button {
    height: 48px;
    width: 175px;
    font-size: 24px;
    padding-left: 41px;
    padding-right: 41px;
  }
  .about-btn {
    padding: 0;
  }
  footer > p {
    font-size: 18px;
    line-height: 28px;
  }
  .end > div > .subheader {
    font-size: 18px;
  }
}
